/* p {
        cursor: pointer;
        color: #0088cc;
      }
      
      p:hover {
        text-decoration: underline;
      } */
      #walrus-showing {
        display: none;
      }
      /* .clickable {
        cursor: pointer;
        color: #0088cc;
      }
      
      .clickable:hover {
        text-decoration: underline;
      } */